<div class="page-404 d-flex flex-column align-items-center justify-content-center">
  <h2>Something you are finding is not here?</h2>
  <p>If you think this is mistake, please contact with admin</p>
  <a href="/" class="btn btn-primary">Visit Dashboard</a>
</div>